body {
  background-color: rgba(255, 225, 0, 0.81);
}
h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
}

.create-form {
  text-align: center;
}

li {
  padding: 5px;
  margin: 5px;
  background-color: rgb(241, 234, 234);
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}
